@import '../../../style/vars';

.load-more-btn {
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  box-shadow: rgba(222, 124, 247, 0.8) 0 0 10px;
  background-color: rgb(247, 148, 31);
  color: rgb(255, 255, 255);
  outline: none;
  font-size: 35px;
  font-family: 'Luckiest Guy';
  transition: 0.1s background-color ease-in-out;

  &:hover {
    background-color: rgba(248, 140, 51, 0.8);
  }

  &:active {
    background-color: rgba(253, 182, 124, 0.8);
  }
}
