$primary-bg: rgb(16, 14, 23);
$headline-color: rgb(255, 255, 255);
$main-link-color: rgb(0, 0, 0);

$overlay-bg: rgba(0, 0, 0, 0.4);
$exist-message-c: rgb(253, 179, 235);

$news-card-bg: rgb(245, 238, 247);
$news-card-shadow: rgb(189, 122, 219);
$news-card-name-c: rgb(170, 96, 5);
$news-card-news-record-c: rgb(247, 148, 31);
$news-card-record-content-c: rgb(58, 58, 58);

$btn-load-more-bg: rgb(247, 148, 31);
$btn-load-more-c: rgb(255, 255, 255);
$btn-load-more-bg_h: rgba(248, 140, 51, 0.8);
$btn-load-more-bg_a: rgba(253, 182, 124, 0.8);
